---
const { data } = Astro.props;

import ButtonLink from "./ButtonLink.astro";
---

<div class:list={["app-price-card", { "+popular": data.popular }]}>
  {data.tag && <div class="_tag">{data.tag}</div>}
  <div class="_name">{data.name}</div>

  <div class="_price">
    <div class="_old-price">${data.oldPrice}</div>
    <div class="_total-price">${data.price}</div>
  </div>

  <ul class="_features-list">
    <li>Amount: {data.amount} jobs</li>
    <li>Period: {data.period} weeks</li>
    {data.freezePeriod && <li>Freeze: {data.freezePeriod} days</li>}
  </ul>
  <div>
    <div class="_lesson-price">${data.lessonPrice}</div>
    <span>/ job</span>
  </div>

  <div class="_action">
    <div class="_buy">
      {data.popular && <ButtonLink theme="primary" href="#buy">Get Deal</ButtonLink>}
      {!data.popular && <ButtonLink theme="ghost" href="#buy">Get Deal</ButtonLink>}
    </div>
  </div>
</div>

<style lang="scss">
  .app-price-card {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto minmax(0, 1fr) auto;
    align-items: center;
    align-content: center;
    gap: 2rem;
    padding: 3.2rem 1.6rem;
    border: 1px solid var(--color-line);
    border-radius: var(--radius-3);
    text-align: center;
    box-shadow: var(--shadow-1);
    background-color: var(--color-surface-0-light);

    &:has(._tag) {
      background-image: linear-gradient(25deg, #ffb30026, transparent);
    }

    &:last-child:has(._tag) {
      background-image: linear-gradient(
        25deg,
        rgb(255 0 50 / 15%),
        transparent
      );
    }

    &.\+popular {
      // padding-block: 2.4rem;
      box-shadow: var(--shadow-3);
    }

    ._tag {
      position: absolute;
      top: -3%;
      right: -3%;
      font-size: 1.8rem;
      line-height: 1;
      padding: 0.4rem;
      background: #ffb200;
      color: var(--color-text-primary);
      transform: rotate(-2deg);
    }

    &:last-child {
      ._tag {
        background: var(--color-accent);
        color: var(--color-text-primary-inverse);
      }
    }

    ._name {
      font-size: 3.2rem;
      font-weight: 600;
      font-family: var(--font-family-secondary);
    }

    ._features-list {
      list-style: none;
      font-size: 14px;
      color: var(--color-text-secondary);
    }

    ._lesson-price {
      font-size: 2.4rem;
      font-weight: 600;
      font-family: var(--font-family-secondary);
    }

    ._price {
      text-align: center;
    }

    ._old-price {
      text-decoration: line-through;
    }

    ._total-price {
      font-size: 3.2rem;
      font-weight: 700;
      color: var(--color-accent);
      font-family: var(--font-family-secondary);
    }

    ._action {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }

    ._buy {
      flex: 1;

      > * {
        width: 100%;
      }
    }
  }
</style>
